.menu {
    float: left;
    width: 10%;
    background-color: #CCC;
    height: 95%;
}

.center {
    float: left;
    width: 79%;
    padding-left: 50px;
    
}

.header {
    float: top;
    width: 100%;
    background-color: #AF5000;
    height: 10%;
}